html {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  height: 100%;
}

h1, h2 {
  font-style: normal;
  font-weight: 400;
  margin: 5px 5px 0px 0px;
}

h1 {
  font-size: 28px
  line-height: 32px;
  padding-bottom: 32px;
}

h2 {
  font-size: 18px;
  line-height: 22px;
}

img {
  max-height: 400px;
  max-width: 100%
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}

.socialicons {
  font-size: 18px;
  margin: 5px;
}

.socialicons a {
  text-decoration: none;
  color: #000;
}

.socialicons ul {
  list-style-type: none;
  padding: 0;
}

.socialicons li {
  display: inline;
  margin: 0 10px 0;
}

.socialicons #twitter:hover {
  color: #4099FF;
}

.socialicons #facebook:hover {
  color: #3B5998;
}

.socialicons #linkedin:hover {
  color: #4875B4;
}

.bio h2 a img {
  height: 22px;
  vertical-align: middle;
}

.picture {
  margin: 15px;
  max-width: 50%;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .picture {
    max-width: 80%;
  }
}